* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

/* Navbar */
.navbar {
  padding: 10px;
  margin-top: 10px;
  width: 100%;
  height: 50px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  justify-content: space-around;
}

.logo {
  width: 246.037px;
  height: 29.675px;
  flex-shrink: 0;
}

.navbarlist ul li {
  padding: 20px;
  display: inline;
  justify-content: center;
  justify-content: space-between;
  list-style: none;
}

.navbarlist ul li a {
  color: #000;
}

.navbarlist ul li a:hover {
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
}

/* Home Page */
.flex-container {
  display: block;

  background-image: url(./homeimage.png);
  background-size: cover;
  width: 100%;
  height: 578.101px;
  flex-shrink: 0;
}

.text {
  width: 40%;
  color: #fff;
  font-family: Raleway;
  font-size: 33px;
  font-style: normal;
  font-weight: 700;
  line-height: 43px;

  padding-top: 100px;
  padding-left: 100px;
}

/* Next page */
.container {
  height: 200px;
  text-align: center;
  margin-top: 70px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.text1 {
  width: 50%;
  justify-content: center;
  align-items: center;
}

p {
  margin-top: 20px;
  color: #000;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  /* 150% */
}

button {
  margin-top: 20px;
  color: #040363;
  text-align: justify;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  border: none;
}

.photo {
  justify-content: center;
  width: 50%;
}

/* Next page */
.second {
  margin-top: 70px;
  width: 100%;
  height: 485px;
  display: flex;
}

.text2 {
  width: 50%;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
}

.text h1 {
  color: #383838;
  font-family: Raleway;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  /* 133.333% */
}

.text2 ul {
  margin-top: 20px;
  color: #383838;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 150% */
}
.text2 button {
  color: #040363;
  text-align: justify;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
}
.image {
  width: 50%;
  height: 300px;
}

.image img {
  width: 500px;
  height: 300px;
  flex-shrink: 0;
  position: absolute;
  left: 150px;
}
/* Next page */
.div2 {
  height: 100px;
  text-align: center;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.class1 {
  width: 50%;
  justify-content: center;
}
.class1 h2 {
  font-family: Raleway;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
}
.class1 p {
  color: #000;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}

.class1 button {
  color: #040363;
  text-align: justify;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;

}
.class2 {

  width: 50%;
  height: 488px;
  flex-shrink: 0;
}
.class2 img{
  width: 500px;
  height: 300px;
}
/* Next page */
.div3 {
  margin-top: 100px;
  height: 100px;
  text-align: center;

  display: flex;
  width: 100%;
  justify-content: center;
}
.class3{
  width: 50%;
  height: 488px;
  flex-shrink: 0;
}
.class3 img{
  width: 500px;
  height: 300px;
}
.class4 {
  padding-top: 50px;
  width: 50%;
  justify-content: center;
  align-items: center;
}
.class4 h2 {
  font-family: Raleway;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
}
.class4 p {
  color: #000;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}

.class4 button {
  color: #040363;
  text-align: justify;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;

}




/* Footer */
.footer{
  margin-top: 200px;
}
